
.idea

target
./target
**/target
**/target
**/**/target
**/**/target
**/**/**/target

**/package
**/**/package
**/**/**/package


*.iml
**/.iml
**/**/.iml
**/**/**/.iml

*.log
**/.log
**/**/.log
**/**/**/.log
logs
**/logs
**/**/logs
**/**/**/logs



*.gz
**/*.gz
**/**/*.gz
**/**/**/*.gz

**/.git/
**/uav-wiki/node_modules/
**/uav-wiki/_book/
**/uav-wiki/*.gz

.DS_Store
